:root {
  font-family: Roboto, Arial;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(135deg, #00c6ff 0%, #0072ff 100%);
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */